body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.converter {
  text-align: center;
  padding: 20px;
  border: 1px solid #1215e4;
  border-radius: 5px;
  background-color: #b6ceda;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

input[type="number"] {
  padding: 8px;
  margin-right: 5px;
  width: 150px;
  border: 1px solid #3c84b4;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #047dce;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2f217e;
}

p#result {
  font-size: 18px;
  margin-top: 10px;
}
